@page
@model WebApp.Areas.Admin.Pages.CategoriesModel
@{
}
<h4>Welcome to the admin area!</h4>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID#</th>
            <th scope="col">Kategori</th>
        </tr>
    </thead>
    @foreach (var cat in Model.Cats)
    {
        <tr>
            <td>@cat.CategoryID</td>
            <td>@cat.Category</td>
        </tr>
    }
</table>