@page
@model WebApp.Areas.Admin.IndexModel
@{
}
<h4>Velkommen til administrator området</h4>
<hr />
<p>Pas på hvad du laver herinde, der er <em>meget</em> stor risiko for at du kommer til at slette eller ødelægge noget.</p>
<p>Brug kun denne side hvis du er ordentligt instrueret og autoriseret til at bruge den!</p>
