@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til butikken!</h1>
    <hr />
    <p>Vi håber at du finder mange lækre ting herinde, til favorable priser!</p>
</div>