@page
@model WebApp.Pages.SuccessModel
@{
}
<div class="container">
    <div class="bg-success">
        <h1>Yay! Ordren gik igennem! Du burde snart have fået en mail på @Model.Customer.EMail</h1>
        <p>For at referere til din ordre, har den fået ordrenummeret: @Model.GUID</p>
        <hr />
        <h3>Vi håber snart at se dig igen, til flere fantastiske tilbud!</h3>
    </div>
</div>